<template>
        <section class="Form">
            <center><section class="titulo" v-on:click="buttonHome"><span>WallArt</span>Comparte tu arte.</section></center>
            <form>
                <input type="text" name="Username" placeholder="Username" v-model="user.username">
                <br>
                <input type="text" name="Password" placeholder="Password" v-model="user.password">
                <br>
                <button type="submit" class="boton"><b>Iniciar Sesion</b></button>
            </form>
        </section>  
</template>

<script>
export default {
    name: "LogIn",
    data: function(){
        return {
            user: {
                username:"",
                password:""
            }
        }
    },
    methods: {
        buttonHome: function(){
            this.$emit('ButtonHome')
        }
    }
}
</script>

<style>
</style>