<template>
    <section class="Header"><h1>Welcome Pepe</h1></section>
</template>

<script>
export default {
    name: 'PrincipalPage',
    data: function(){

    },
    methods:{

    },
    created: function(){

    }
}
</script>

<style>
.Header {
    display:block;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    border-color: lightgray;
}
</style>