<template>
  <div id="app" class="app">
    <section class="main-component">
      <section v-if="!is_auth" class="container-without">

        <section class="Imagen">
          <img src="../public/LogIn.jpg" class="ImagenLogIn">
        </section>

        <router-view
        v-on:ButtonLogIn="LoadLogIn"
        v-on:ButtonHome="LoadHome"
        v-on:ButtonSingUp="LoadSingUp"> 
        </router-view>

      </section>
    </section>

    <section class="container-with" v-if="is_auth">

      <section class="DivPageLeft">
        <h1>Section</h1>
        <h1 id="Profile">Section</h1>
      </section>
      <section class="DivPageMain">
        <router-view>
        </router-view>
      </section>
      <section class="DivPageRight">
        <h1>Section</h1>
      </section> 

    </section>
  </div>
</template>

<script>
export default {
  name: 'App',
  data: function(){
    return {
      is_auth: true 
    }
  },
  methods:{
    LoadHome: function(){
      this.$router.push({name: "Home"});
    },
    LoadLogIn: function(){
      this.$router.push({name: "LogIn"});
    },
    LoadSingUp: function(){
      this.$router.push({name: "SingUp"});
    },
    LoadPrincipalPage: function(){
      this.$router.push({name: "PrincipalPage"});
    },
  },

  created: function(){
    this.LoadHome()
    this.LoadPrincipalPage()
  }

}
</script>

<style>
#Profile {
  display: block;
  width: 19.84%;
  text-align: center;
  bottom: 0px;
  position: fixed;
}
.container-with {
  height: fit-content;
}
.DivPageLeft {
  position: fixed;
  text-align: center;
  margin: 0px;
  float: left;
  display: block;
  border-width: 0px;
  border-right-width: 1px;
  border-style: solid;
  border-color:lightgrey;
  width: 19.84%;
  height: 100vh;
}
.DivPageMain {
  text-align: center;
  margin: 0px 20.7%;
  display: inline-block;
  width: 60%;
  height: 100%;
}
.DivPageRight {
  Top: 10px;
  right: 0px;
  position: fixed;
  text-align: center;
  margin: 0px;
  float: right;
  display: block;
  border-width: 0px;
  border-left-width: 1px;
  border-style: solid;
  border-color: lightgrey;
  width: 19.84%;
  height: 100vh;
}
select {
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  border-radius: 3px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #f1f4c6;
  background-color:#f1f4c6;
  height: 30px;
  width: 200px;
  margin: 10px;
}
input {
  font-family: 'Roboto', sans-serif;
  border-width: 0px;
  border-radius: 3px;
  border-style: solid;
  border-bottom-width: 3px;
  border-color: #f1f4c6;
  background-color:#f1f4c6;
  height: 30px;
  width: 200px;
  margin: 10px;
}
select:hover {
  border-color: #009f9d;
  transition:0.2s;
}
input:hover {
  border-color: #009f9d;
  transition:0.2s;
}
.titulo {
  height: 96px;
  width: fit-content;
  cursor: pointer;
  display: block;
  border-style: solid;
  border-width: 0px;
  margin: 20px;
}
.titulo span{
  display: block;
  border-style: solid;
  border-width: 0px;
  border-bottom-width: 3px;
  border-color:#009f9d;
  font-size: 60px;
  margin: 2px;
}
button {
  background-color:#009f9d;
  color:black;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  border-width: 0px;
}
.boton:hover {
  background-color: #a2eae2;
  transition: 0.5s;
}
.boton{
  margin:20px;
  cursor: pointer;
  border-radius: 3px;
  height: 60px;
  width: 200px;
}
.container {
  display: flex;
}
.Form{
  height: fit-content;
  width: 450px;
  padding: 20px;
  align-self: center;
  text-align: center;
}
body {
  margin: 0 0 0 0;
}
.Imagen{
  width: 200px;
  padding: 20px 50px;
  margin: 0px 300px 0px 100px;
}
.app {
  height: 100vh;
  padding: 10px 20px; 
  color:beige;
  background-color: black;
  font-family: 'Roboto', sans-serif;
}
.ImagenLogIn {
  width: 500px;
  height: 600px;
}
</style>
